.container {
    display: flex;
    justify-content: space-between;
    background-color: gray;
    box-sizing: border-box;
}

.left {
    float: left;
    display: block;
    width: 300px;
    border: 1px solid blue;
    margin: 2px;
}

.hidden {
    background: none;
    border: none;
    font-size: 0;
}